<a href="https://colab.research.google.com/github/omtriguero/Artificial-Intelligence-Projects/blob/main/ML/Connect_MongoAtlas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connect to MongoDB from Python Program and perform CRUD operations

In [ ]:
!python -m pip install pyodbc pymongo

Collecting pyodbc
  Downloading pyodbc-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (334 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 334.7/334.7 kB 4.1 MB/s eta 0:00:00
Collecting pymongo
  Downloading pymongo-4.6.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (676 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 676.9/676.9 kB 3.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 2.7 MB/s eta 0:00:00
Installing collected packages: pyodbc, dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.6.3 pyodbc-5.1.0

In [ ]:
# mySecrets.txt contains five lines. 1st line username, 2nd line password, 3rd line DATA API key, 4th line full URL of MongoDB Atlas
# 5th line contains the url for specific function

with open("mySecrets.txt") as f:
    lines = f.readlines()
    myusername = lines[0].strip()
    mypassword = lines[1].strip()
    myapikey = lines[2].strip()
    mongourl = lines[3].strip()
    mongorest = lines[4].strip()

type(mypassword)

FileNotFoundError: [Errno 2] No such file or directory: 'mySecrets.txt'

In [ ]:
myusername = 'username'
mypassword = 'wCiQ6OuhtCl5I4Mfaa'
myapikey = 'VBoEkKHrVahIRYn6MNjBrD3asGhHM03NWvSpNBmXVcqDrNORv35SZdcV8LKV84T5'
mongourl = 'mongodb+srv://hyguo:wCiQ6suhtCl5I4Mf@cluster0.us7k7gc.mongodb.net/?retryWrites=true&w=majority'
mongorest = 'https://us-west-2.aws.data.mongodb-api.com/app/data-wtwcb/endpoint/data/v1/action/'

# Connect to MongoDB Atlas via PyMongo driver

In [ ]:
import pymongo

# Replace <your_connection_string> with the actual connection string obtained from MongoDB Atlas
# mongourl = "<your_connection_string>"

myclient = pymongo.MongoClient(mongourl)

# List all database names
database_names = myclient.list_database_names()

# Print the names of the databases
for db_name in database_names:
    print(db_name)

# Create a new collection

In [ ]:
import pymongo

myclient = pymongo.MongoClient(mongourl)

mydb = myclient["FirstAtlasDB"]

### Print the names of all available databases

In [ ]:
print(myclient.list_database_names())

In [ ]:
dblist = myclient.list_database_names()
if "FirstAtlasDB3" in dblist:
  print("The database exists.")

### Find the collection names

In [ ]:
print(mydb.list_collection_names())

### Set the collection name (we are creating a new collection)

In [ ]:
mycol = mydb["customers"]

### Insert a new document

In [ ]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

### The collection is created after the document is inserted

In [ ]:
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

In [ ]:
print(x.inserted_id)

### Insert multiple documents

In [ ]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

### Find one document

In [ ]:
#mydb = myclient["FirstAtlasDB"]
#mycol = mydb["customers"]

x = mycol.find_one()

print(x)

### Find all documents

In [ ]:
for x in mycol.find():
  print(x)

### Use projection

In [ ]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

### You shall run into problem if mention 0 and 1 for different fields except _id

In [ ]:
for x in mycol.find({},{ "name": 1, "address": 0 }):
  print(x)

The error message indicates that you are trying to include the "name" field while excluding the "address" field in your projection, which is not allowed in MongoDB. In MongoDB, when you include specific fields in the projection, you cannot simultaneously exclude other fields. It's one or the other.

To resolve this issue, you can either include both "name" and "address" fields or exclude the "address" field entirely. Here are two options:

In [ ]:
for x in mycol.find({}, {"name": 1, "address": 1}):
    print(x)

In [ ]:
for x in mycol.find({}, {"address": 0}):
    print(x)

# Connect to MongoDB Atlas via MongoDB Atlas DATA API

In [ ]:

mongorest = "https://us-west-2.aws.data.mongodb-api.com/app/data-wtwcb/endpoint/data/v1/action/"

In [ ]:
import requests
import json

action = 'findOne'
url = mongorest + action
print(url)

## Read a document

In [ ]:
import requests
import json

action = 'findOne'
url = mongorest + action

#print(url)

payload = json.dumps({
    "collection": "customers",
    "database": "FirstAtlasDB",
    "dataSource": "Cluster0",
    "projection": { }
})
headers = {
  'Content-Type': 'application/json',
  'Access-Control-Request-Headers': '*',
  'api-key': myapikey,
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

## Read many documents

In [ ]:
action = 'find'
url = mongorest + action

payload = json.dumps({
    "collection": "Employees",
    "database": "FirstAtlasDB",
    "dataSource": "Cluster0",
    "filter":{"salary":{"$gte":89847}},
    "projection": { }
})
headers = {
  'Content-Type': 'application/json',
  'Access-Control-Request-Headers': '*',
  'api-key': myapikey,
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

## Insert one document

In [ ]:
action = 'insertOne'
url = mongorest + action

myinfo = {
            "first_name":"James",
            "last_name":"Bond",
            "email":"007@gmail.com",
            "gender":"Male",
            "salary":900000,
            "age":150,
            "position":"International Super Spy"
        }

payload = json.dumps({
    "collection": "Employees",
    "database": "FirstAtlasDB",
    "dataSource": "Cluster0",
    "document": myinfo
    #"filter":{"salary":{"$gte":89847}},
    #"projection": {}
})
headers = {
  'Content-Type': 'application/json',
  'Access-Control-Request-Headers': '*',
  'api-key': myapikey,
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

### find the document inserted just now

In [ ]:
action = 'find'
url = mongorest + action

payload = json.dumps({
    "collection": "Employees",
    "database": "FirstAtlasDB",
    "dataSource": "Cluster0",
    "filter":{"last_name":"Bond"},
    "projection": {"_id":0, "first_name":1, "last_name":1, "age":1}
})
headers = {
  'Content-Type': 'application/json',
  'Access-Control-Request-Headers': '*',
  'api-key': myapikey,
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

# Update the salary value

In [ ]:
action = 'updateOne'
url = mongorest + action

payload = json.dumps({
    "collection": "Employees",
    "database": "FirstAtlasDB",
    "dataSource": "Cluster0",
    "filter":{"salary":{"$gte":900000}},
    "update":{"$set":{"age":45}}
    #"projection": {}
})
headers = {
  'Content-Type': 'application/json',
  'Access-Control-Request-Headers': '*',
  'api-key': myapikey,
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

# Delete the inserted document

In [ ]:
action = 'deleteOne'
url = mongorest + action

payload = json.dumps({
    "collection": "Employees",
    "database": "FirstAtlasDB",
    "dataSource": "Cluster0",
    "filter":{"salary":{"$gte":900000}},
    #"update":{"$set":{"salary":100000}}
    #"projection": {}
})
headers = {
  'Content-Type': 'application/json',
  'Access-Control-Request-Headers': '*',
  'api-key': myapikey,
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

# MongoDB Aggregation

- It helps us to create complex queries.

Agrregation steps:
Collection -> $match -> $group -> $sort -> project -> Output

### Note, a separate document will be created in the disk for each group for the following queries
## Login to MongoDB Atlas/Local Server from mongodb shell and run the queries

Query 1: Group all male employees first name according to their age.

```
db.Employees.aggregate([
  //stage 1: find all the male employees
  {
  	$match: {gender:'Male'}
  },
  //stage 2: create a group of all the ages, and add the employee first names to an array
  {
  	$group:{_id:'$age', members:{$push:'$first_name'}}
  }
])
```

Query 2: Group all male employees according to their age, count the number, and sort in descending order.

```
db.Employees.aggregate([
  //stage 1: find all the male employees
  {
  	$match: {gender:'Male'}
  },
  //stage 2: create a group of all the ages, and add the employee first names to an array
  {
  	$group:{_id:'$age', count_members:{$sum:1}}
  },
  // Stage 3: Sort documents by count_members in descending order
   {
      $sort: { count_members: -1 }
   }
])
```

Query 3: Group all female employees name according to their age and find the largest group.

```
db.Employees.aggregate([
  //stage 1: find all the male employees
  {
  	$match: {gender:'Female'}
  },
  //stage 2: create a group of all the ages, and add the employee first names to an array
  {
  	$group:{_id:'$age', count_members:{$sum:1}}
  },
  // Stage 3: Sort documents by count_members in descending order
   {
      $sort: { count_members: -1 }
   },
   //stage 4: add all documents in a single document
  {
  	$group:{_id:null, max_count_members:{$max: "$count_members"}}
  }
])
```

Query 4: find number of employees in each profession and sort ascendingly.

```
db.Employees.aggregate([
  //stage 1: create a group of all the ages, and add the employee first names to an array
  {
  	$group:{_id:'$position', count_members:{$sum:1}}
  },
  // Stage 3: Sort documents by count_members in descending order
   {
      $sort: { count_members: 1 }
   }
])
```

Query 5: Compute the average salary of each position and sort in descending order.

```
db.Employees.aggregate([
  //stage 1: create a group of all the ages, and add the employee first names to an array
  {
  	$group:{_id:'$position', average_salary:{$avg:'$salary'}}
  },
  // Stage 3: Sort documents by count_members in descending order
   {
      $sort: { average_salary: -1 }
   }
])
```